
@model Country



<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100 text-white bg-dark mb-3" style="border-radius: 30px;">
        <img class="card-img-top p-2" src="@Model.FlagImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">
                <ul class="list-group list-group-flush text-white bg-dark mb-3">
                    <li class="list-group-item text-white bg-dark mb-3">population:  <br>  @Model.Population              </li>
                    <li class="list-group-item text-white bg-dark mb-3">capital:     <br>  @Model.Capital                 </li>
                    <li class="list-group-item text-white bg-dark mb-3">languages:   <br>  @Model.Languages               </li>
                    <li class="list-group-item text-white bg-dark mb-3">surface:     <br>  @Model.Surface                 </li>
                    <li class="list-group-item text-white bg-dark mb-3">currency:    <br>  @Model.Currency                </li>
                </ul>
            </p>
            <img class="card-img-bottom" src="@Model.CountryImageUrl" alt="Card image cap">
        </div>
        <div class="card-footer">
            <button class="btn btn-success" id="addButton">Add to collection</button>
        </div>
    </div>
</div>
