@{
    ViewBag.Title = "Home Page";
}

@model CountriesListViewModel

    <div class="row text-left">



        @foreach (var country in Model.Countries)
        {
        <div                class="col-lg-3 col-md-6 mb-4">
            <div            class="card h-100">                
                <img        class="card-img-top p-2" src="@country.FlagImageUrl" alt="Card image cap">                
                <div        class="card-body">
                    <h5     class="card-title">@country.Name</h5>
                    <p      class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">population:  <br>  @country.Population              </li>
                            <li class="list-group-item">continent:   <br>  @country.Continent.ContinentName </li>
                            <li class="list-group-item">capital:     <br>  @country.Capital                 </li>
                            <li class="list-group-item">languages:   <br>  @country.Languages               </li>
                            <li class="list-group-item">surface:     <br>  @country.Surface                 </li>
                            <li class="list-group-item">currency:    <br>  @country.Currency                </li>
                        </ul>
                    </p>
                    <img    class="card-img-bottom" src="@country.CountryImageUrl" alt="Card image cap">                   
                </div>
                <div        class="card-footer m-4">
                    <button id="addButton" class="btn btn-success">Add to collection</button>
                </div>
            </div>
        </div>

        }

           




    </div>

<div id="theForm">
    <form>
        <label>Username: </label>
        <br />
        <input />
        <br />

        <label>Email: </label>
        <br />
        <input type="email" />
        <br />

        <label>Subject: </label>
        <br />
        <input type="text" />
        <br />

        <label>Message: </label>
        <br />
        <textarea rows="4"></textarea>
        <br />

        <input type="submit" value="Send message" />

    </form>
</div>

<div>
    <div id="loginToggle">Login (click to hide/show)</div>
    <form class="popup-form">

        <div>
            <label>Username</label>
            <input />
        </div>
        <br />
        <div>
            <label>Password</label>
            <input type="password" />
        </div>
        <br />
        <div>
            <input type="checkbox" />
            <label>Remember me?</label>
        </div>
        <br />
        <div>
            <input type="submit" value="Login" />
        </div>


    </form>
</div>